language: node_js
node_js:
  - "node"
before_script:
  - npm install -g gulp
  - npm install -g ci-publish
  - npm install
script:
  - gulp
after_success:
  - test "${TRAVIS_BRANCH}" == master && ci-publish
  - cat coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
